
#python {
  display: none;
}

#rust {
  display: none;
}

#go {
  display: none;
}

#ruby {
  display: none;
}

h1 {
  font-style: italic;
  color: darkblue;
}

.jumbotron {
  background-color: rgb(255, 237, 149);
  text-align: center;
}

.answer {
  padding: 55px;
}

h2 {
  padding: 35px;
  font-size: x-large;
}