
#python {
  display: none;
}

#rust {
  display: none;
}

#go {
  display: none;
}

#ruby {
  display: none;
}

h1 {
  font-style: italic;
  color: rgb(3, 3, 134);
}

.jumbotron {
  background-color: rgb(255, 238, 152);
  text-align: center;
}

.answer {
  padding: 55px;
}

h2 {
  padding: 20px;
  font-size: x-large;
}

.card {
  padding: 23px;
}